
        <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{ entity|capitalize }}</h5>
            <a href="{{ path('app_back_movie_new')}}" class="card-link btn btn-success btn-md mb-2">Create New</a>
            <a href="{{ path('app_back_movie_index')}}" class="card-link btn btn-warning btn-md mb-2">List</a>
        </div>
        </div>

   
    
