	<div class="d-flex mb-4" style="color: orange;">
		{% for i in 0..4 %}
			{# si la note - le nombre total d'étoiles(5) est > ou égal 0.9 #}
			{% if ratingStars - i >= 0.9 %}
				{# alors affiche une étoile pleine avec la class bi-star-fill #}
				<i class="bi bi-star-fill"></i>
				{# sinon si la note - le nombre total d'étoiles est < ou égal 0.1 #}
			{% elseif ratingStars - i <= 0.1 %}
				{# alors affiche une étoile vide avec la class bi-star #}
				<i class="bi bi-star"></i>
			{% else %}
				{# sinon reste = décimal entre 0.1 et 0.9 alors on affiche une étoile avec la class bi-star-half #}
				<i class="bi bi-star-half"></i>
			{% endif %}
		{% endfor %}
		<span class="ps-1">{{ ratingStars }}</span>
	</div>
