{% extends 'base.html.twig' %}

{% block title %}Edit Casting{% endblock %}

{% block body %}

    <div class="container-md bg-light my-5 border-top d-flex">
        <div class="row m-auto">

            <h1 class="text-muted my-5">Edit Casting</h1>
            <div class="col-6">
                {{ include('back/casting/_form.html.twig', {'button_label': 'Update'}) }}
                
                <div class="d-flex justify-content-start gap-3 mb-5 mt-3">
                    <a href="{{ path('app_back_casting_index') }}" class="btn btn-warning btn-lg mb-2" role="button" aria-disabled="true">Back to list</a>
                    {{ include('back/casting/_delete_form.html.twig') }}
                </div>
            </div>
        </div> 
    </div> 
{% endblock %}
