{% extends 'base.html.twig' %}

{% block title %}Edit Movie{% endblock %}

{% block body %}

<div class="container-md bg-light my-5 border-top d-flex">
    <div class="row m-auto">

            <h1 class="text-muted my-5">Edit Movie</h1>
                
                    {{ include('back/movie/_form.html.twig', {'button_label': 'Update'}) }}

                <div class="d-flex justify-content-end gap-3 mb-5">
                    <a href="{{ path('app_back_movie_index') }}" class="btn btn-warning btn-md review-btn mb-2" role="button" aria-disabled="true">Back to list</a>
                    {{ include('back/movie/_delete_form.html.twig') }}
                </div>       
    </div>    
</div> 

{% endblock %}