{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}

<div class="container-md bg-light my-5 border-top d-flex">
    <div class="row m-auto">

            <h1 class="text-muted my-5">Edit User</h1>

                {{ include('back/user/_form.html.twig', {'button_label': 'Update'}) }}
            <div class="d-flex justify-content-end gap-3 mb-5">
                <a href="{{ path('app_back_user_index') }}"class="btn btn-warning btn-lg mb-2" role="button" aria-disabled="true">Back to list</a>
               {{ include('back/user/_delete_form.html.twig') }}
            </div>        
               
    </div>    
</div> 
    
{% endblock %}
