{% extends "base.html.twig" %}

{% block body %}

<div class="container my-4">
    <div class="my-5 py-5 text-center">

		<img src="{{ asset('favicon.png') }}" height="100" alt="Logo PopCorn Pulse" class="mb-3">
		
		<h1 class="fw-bold display-1">{{ status_code }}</h1>
			<div class="col-lg-6 mx-auto">
				<h2 class="lead mb-4 text-muted">{{ status_text }}</h2>
				<p class="display-6 mb-4">{{ exception.message }}<p>
			</div>

	</div>
</div>

{% endblock %}