{% extends 'base.html.twig' %}

{% block title %}Inscription Utilisateur{% endblock %}

{% block body %}

<div class="container-md bg-light my-5 border-top d-flex">
    <div class="row m-auto">

        <div class="col">

            <h1 class="text-muted my-5">Formulaire d'inscription <span class="header-logo__title text-white badge bg-dark fs-2">PopCorn Pulse</span></h1>

                {{ include('front/user/_form.html.twig') }}
            <div class="d-flex justify-content-end gap-3 mb-5">
                <a href="{{ path('default') }}"class="btn btn-warning btn-md mb-2" role="button" aria-disabled="true">Retour aux films</a>
            </div>
        </div>
    </div>
</div> 

{% endblock %}
